<virtualhost *:80>

    servername  gigingeorge.online
    documentroot /var/www/html/gigingeorge.online/
    directoryindex index.html index.php

    <directory /var/www/html/gigingeorge.online>
       allowoverride all
    </directory>

</virtualhost>

